# Node modules
node_modules/

# Build directories
dist/

# Environment variables
.env

# Logs
logs
*.log

# TypeScript cache
*.tsbuildinfo

#All_CSV_data

# Ignore DuckDB database
/Users/ole/code/Master/coworker/backend/All_CSV_data/db.db